*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body, html{
    background-color: rgb(218, 218, 218);
    height: 100%;
}

.layout{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content{
    flex:1;
}